.icons {
  //   background: linear-gradient(to right, rgb(120, 123, 250), rgb(222, 248, 252));
  //   background: rgb(194, 223, 228);

  background: rgba(222, 248, 252, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  border-radius: 30px;
  color: black;
  font-size: 1.3rem;
  position: fixed;
  top: 40%;
  left: 0.8%;
  padding: 0.7%;
  animation: wave 2s infinite ease-in-out;

  i {
    display: block;
    margin: 0.9rem 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  @keyframes wave {
    50% {
      transform: translate(0, -4px);
    }
  }
}

// rgb(89, 92, 255), rgb(198, 248, 255)

// rgb(95, 97, 255), rgb(204, 242, 247)
